@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto/Roboto-Regular-webfont.eot');
    src: url('/fonts/Roboto/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Roboto/Roboto-Regular-webfont.woff') format('woff'),
         url('/fonts/Roboto/Roboto-Regular-webfont.ttf') format('truetype'),
         url('/fonts/Roboto/Roboto-Regular-webfont.svg#RobotoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto/Roboto-Italic-webfont.eot');
    src: url('/fonts/Roboto/Roboto-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Roboto/Roboto-Italic-webfont.woff') format('woff'),
         url('/fonts/Roboto/Roboto-Italic-webfont.ttf') format('truetype'),
         url('/fonts/Roboto/Roboto-Italic-webfont.svg#RobotoItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto/Roboto-Bold-webfont.eot');
    src: url('/fonts/Roboto/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Roboto/Roboto-Bold-webfont.woff') format('woff'),
         url('/fonts/Roboto/Roboto-Bold-webfont.ttf') format('truetype'),
         url('/fonts/Roboto/Roboto-Bold-webfont.svg#RobotoBold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto/Roboto-BoldItalic-webfont.eot');
    src: url('/fonts/Roboto/Roboto-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Roboto/Roboto-BoldItalic-webfont.woff') format('woff'),
         url('/fonts/Roboto/Roboto-BoldItalic-webfont.ttf') format('truetype'),
         url('/fonts/Roboto/Roboto-BoldItalic-webfont.svg#RobotoBoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto/Roboto-Medium-webfont.eot');
    src: url('/fonts/Roboto/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Roboto/Roboto-Medium-webfont.woff') format('woff'),
         url('/fonts/Roboto/Roboto-Medium-webfont.ttf') format('truetype'),
         url('/fonts/Roboto/Roboto-Medium-webfont.svg#RobotoMedium') format('svg');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto/Roboto-MediumItalic-webfont.eot');
    src: url('/fonts/Roboto/Roboto-MediumItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Roboto/Roboto-MediumItalic-webfont.woff') format('woff'),
         url('/fonts/Roboto/Roboto-MediumItalic-webfont.ttf') format('truetype'),
         url('/fonts/Roboto/Roboto-MediumItalic-webfont.svg#RobotoMediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto/Roboto-Light-webfont.eot');
    src: url('/fonts/Roboto/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Roboto/Roboto-Light-webfont.woff') format('woff'),
         url('/fonts/Roboto/Roboto-Light-webfont.ttf') format('truetype'),
         url('/fonts/Roboto/Roboto-Light-webfont.svg#RobotoLight') format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto/Roboto-LightItalic-webfont.eot');
    src: url('/fonts/Roboto/Roboto-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Roboto/Roboto-LightItalic-webfont.woff') format('woff'),
         url('/fonts/Roboto/Roboto-LightItalic-webfont.ttf') format('truetype'),
         url('/fonts/Roboto/Roboto-LightItalic-webfont.svg#RobotoLightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto/Roboto-Thin-webfont.eot');
    src: url('/fonts/Roboto/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Roboto/Roboto-Thin-webfont.woff') format('woff'),
         url('/fonts/Roboto/Roboto-Thin-webfont.ttf') format('truetype'),
         url('/fonts/Roboto/Roboto-Thin-webfont.svg#RobotoThin') format('svg');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto/Roboto-ThinItalic-webfont.eot');
    src: url('/fonts/Roboto/Roboto-ThinItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Roboto/Roboto-ThinItalic-webfont.woff') format('woff'),
         url('/fonts/Roboto/Roboto-ThinItalic-webfont.ttf') format('truetype'),
         url('/fonts/Roboto/Roboto-ThinItalic-webfont.svg#RobotoThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
}

html,
body
{
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6  {
  font-family: Roboto, sans-serif;
  font-weight: 100;
}

ul.sidebar-nav  {
  font-family: Roboto, sans-serif;
  font-weight: 100;
  letter-spacing: 0.075rem;
  margin-top: 1.75rem;
}

.sidebar-nav li  {
  font-size: 21px;
}

.image-left
{
    float: left;
    padding-right: 0.75em;
}

.image-right
{
    float: right;
    padding-left: 0.75em;
}

.image-logo
{
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -0.95em;
}

.img-circle
{
    border-radius: 50%;
}

.headshot
{
    width: 115px;
    height: 115px;
}

.brand
{
    font-size: 2.6em;
    margin-bottom: -0.135em;
}

.text-center
{
    text-align: center;
}

.meta
{
    font-size: .8rem;
    font-weight: 300;
}

pre
{
    padding: 1px;
    tab-size: 2;
}


.hljs {
    white-space: pre;
    overflow-x: auto; /* no line wrapping */
}

pre code, li code, td code, code
{
    border-radius: 4px;
    white-space: pre-wrap;
    padding:1px 4px;
	  background: #eee;
	 /* color: #444; */
	 border: 1px solid #d9d9d9;
}

code {
    font-family: 'Roboto Mono', monospace;
    font-size: 90%;
}

.copyright,
.poweredby
{
    font-size: 13px;
    font-weight: 300;
}

.center
{
    display: block;
    margin-right: auto;
    margin-left: auto;
}
/* Changing from font-awesome 4 to 5, the class pull-right was removed */
.pull-right {
    float: right;
}

.subhead  {
    font-style: italic;
    font-size: larger;
}

.lead {
    font-size: 1.035rem;
}

